body {
	background-color: #dbec79;
	font-family: 'NEO', sans-serif;
}

@font-face {
	font-family: 'NEO';
	src: url('../lib/assets/Lexend_Mega/LexendMega-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
